:root{
  --leftBtnWidth: 10rem;
  --leftBtnsHeight: 76.58px;
  --MainTitle1FontSize: 180px;
  --MainTitle2FontSize: 100px;
  --secondFloorFooddivWidth: 3rem;
  --secondFloorFooddivHeight: 245px;
  --secondFloorFooddivFontSize: 2rem;
  --leftBtnsBorderRadius: 20px;
  --leftBtnsFontSize: 60px;
  --leftBtnsBackground: rgb(0, 0, 0, 0.5);
  --leftBtnsTransition: left 0.5s ease-in-out;
  --leftBtnsBorder: none;
  --leftBtnsOutline: none;
  --leftBtnsCursor: pointer;
  --leftBtnsTop: 150px;
  --leftBtnsWhiteSpace: pre;
  --leftBtnsBackdropFilter: blur(5px);
  --leftBtnsZIndex: 2000px;
  --leftBtnsOverflow: hidden;
}
html{
  width: -webkit-fill-available;
}
body {
  background-size: cover;
  margin: 0;
  padding: 0;
  background-color: rgb(249, 246, 239, 1);
  user-select: none;
  color: black;
  width: 100%;
}
.MainTitle {
  position: fixed;
  width: max-content;
  left: 50%;
  translate: -50% 0;
  top: 0;
  text-align: center;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'BlackMyth';
  backdrop-filter: blur(5px);
  word-break: keep-all;
  & .MainTitle1{
    font-size: var(--MainTitle1FontSize);
    line-height: var(--MainTitle1FontSize);
  }
  & .MainTitle2{
    font-size: var(--MainTitle2FontSize);
    line-height: var(--MainTitle2FontSize);
  }
}
.move-and-shrink {
  scale: 0.5;
  left: 0%;
  translate: 0 0;
  transform-origin: left top;
}

.juanzhouDiv {
  width: 100%;
  display: flex;
  position: relative;
  transition: padding-top 0.5s ease-in-out;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-direction: row;
  margin-top: 55vh;
}
.juanzhouBtnDiv_move {
  animation: juanzhouBtnDiv_move 0.5s ease-in-out;
}
@keyframes juanzhouBtnDiv_move {
  from {
    padding-top: 1000px;
  }
  to {
    padding-top: 0vh;
  }
}

.juanzhouBtn {
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 50px;
  background: rgb(0, 0, 0, 0.5);
  transition: width 0.5s ease-in-out;
}

.container:hover::before {
  width: 100%;
}

.container {
  position: relative;
  width: 300px;
  height: auto;
  padding: 55px;
  font-family: 'BlackMyth';
  font-size: 90px;
}

.pop-up-button {
  animation: pop-up-animation 0.5s ease-out;
}

@keyframes pop-up-animation {
  from {
    left: -300px;
  }
  to {
    left: -150px;
  }
}

.left-go-on {
  animation: left-go-on 0.5s ease-in-out;
}

@keyframes left-go-on {
  from {
    left: -150px;
  }
  to {
    left: 0px;
  }
}

/* Screen Div */
/* screenDiv show */
.right-go-on {
  animation: right-go-on 1s ease-in-out;
}

@keyframes right-go-on {
  from {
    right: -1500px;
  }
  to {
    right: 0%;
  }
}
/* .ScreenDiv {
  position: relative;
  max-width: 60rem;
  height: 600px;
  border-radius: 20px;
  color: black;
  border: 10px, solid, rgb(0, 0, 0, 0.5);
} */
.ScreenDiv {
  position: relative;
  max-width: 80rem;
  height: max-content;
  border-radius: 20px;
  color: black;
  border: 10px, solid, rgb(0, 0, 0, 0.5);
  /* top: 50%;
  translate: -50% -50%;
  left: 50%; */
  min-width: 30rem;
  margin: 0 auto;
  margin-top: 18vh;
}

.flexColumn{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.display_none{
  display: none!important;
}