body {
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(249, 246, 239, 1);
  user-select: none;
  color: black;
}

.MainTitle {
  position: relative;
  width: max-content;
  left: 50%;
  translate: -50% 0;
  text-align: center;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'BlackMyth';
}

.MainTitle1{
  font-size: 180px;
}

.MainTitle2{
  font-size: 100px;
}

.move-and-shrink {
  scale: 0.5;
  left: 0%;
  translate: 0 0;
  transform-origin: left top;
}

.juanzhouDiv {
  width: auto;
  height: auto;
  top: 0;
  border: 0;
  padding: 0;
  text-align: center;
  display: flex;
  margin: auto;
  padding-top: 115px;
  position: relative;
  transition: all 0.5s ease-in-out;
  justify-content: space-evenly;
}

.juanzhouBtnDiv_move {
  animation: juanzhouBtnDiv_move 0.5s ease-in-out;
}
@keyframes juanzhouBtnDiv_move {
  from {
    top: 1000px;
  }
  to {
    to: 100px;
  }
}



.juanzhouBtn {
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 50px;
  background: rgb(0, 0, 0, 0.5);
  transition: width 0.5s ease-in-out;
}

.container:hover::before {
  width: 100%;
}

.container {
  position: relative;
  width: 300px;
  height: auto;
  padding: 55px;
  font-family: 'BlackMyth';
  font-size: 90px;
}

.LeftBtnFirst {
  background: rgb(0, 0, 0, 0.5);
  border-radius: 20px;
  left: -150px;
  width: 240px;
  transition: left 0.5s ease-in-out;
  border: none;
  outline: none;
  position: fixed;
  cursor: pointer;
  top: 150px;
  font-family: 'BlackMyth';
  font-size: 60px;
  white-space: pre;
  backdrop-filter: blur(5px);
  z-index: 2000px;
  overflow: hidden;
}

.LeftBtnFirst:hover {
  left: 0px;
  text-align: center;
}

.LeftBtnFirst .LeftBtnWords:hover{
  left: 0px;
}

.LeftBtnSecond {
  background: rgb(0, 0, 0, 0.5);
  border-radius: 20px;
  left: -150px;
  transition: left 0.5s ease-in-out;
  border: none;
  outline: none;
  position: fixed;
  cursor: pointer;
  top: 250px;
  font-family: 'BlackMyth';
  font-size: 60px;
  white-space: pre;
  backdrop-filter: blur(5px);
  z-index: 2000px;
  overflow: hidden;
}

.LeftBtnSecond:hover {
  left: 0px;
}

.LeftBtnSecond .LeftBtnWords:hover{
  left: 0px;
}

.LeftBtnThree {
  background: rgb(0, 0, 0, 0.5);
  border-radius: 20px;
  left: -150px;
  transition: left 0.5s ease-in-out;
  border: none;
  outline: none;
  position: fixed;
  cursor: pointer;
  top: 350px;
  font-family: 'BlackMyth';
  font-size: 60px;
  white-space: pre;
  backdrop-filter: blur(5px);
  z-index: 2000px;
  overflow: hidden;
}

.LeftBtnThree:hover {
  left: 0px;
}

.LeftBtnThree .LeftBtnWords:hover{
  left: 0px;
}

.pop-up-button {
  animation: pop-up-animation 0.5s ease-out;
}

@keyframes pop-up-animation {
  from {
    left: -300px;
  }
  to {
    left: -150px;
  }
}

.LeftBtnWords{
  position: relative;
  left: 160px;
  transition: all 0.5s ease-in-out;
}

.gobackBtn {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  height: 76.58px;
  width: 76.58px;
  border-radius: 50px;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.gobackBtn:hover {
  width: 256px;
}

.gobackBtn .gobackIcon {
  position: absolute;
  left: 5px;
  top: 8px;
  height: 60px;
  transition: transform 0.3s ease-in-out;
}

.gobackBtn:hover .gobackIcon {
  transform: translateX(0);
}

.gobackBtn .getbackWord {
  position: absolute;
  width: 163px;
  height: 60px;
  top: -5px;
  right: 20px;
  font-family: 'BlackMyth';
  font-size: 70px;
  display: none;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.gobackBtn:hover .getbackWord {
  display: inline;
  opacity: 1;
}

.gobackBtnDiv {
  width: auto;
  height: auto;
  top: 450px;
  position: fixed;
}

.left-go-on {
  animation: left-go-on 0.5s ease-in-out;
}

@keyframes left-go-on {
  from {
    left: -150px;
  }
  to {
    left: 0px;
  }
}

/* Screen Div */
/* screenDiv show */
.right-go-on {
  animation: right-go-on 1s ease-in-out;
}

@keyframes right-go-on {
  from {
    right: -1500px;
  }
  to {
    right: 7%;
  }
}
.ScreenDiv {
  position: absolute;
  width: 1300px;
  height: 600px;
  border-radius: 20px;
  color: black;
  right: 7%;
  top: 21%;
  border: 10px, solid, rgb(0, 0, 0, 0.5);
}

.choiceBtn1{
  background-color: transparent;
  position: absolute;
  outline: none;
  border: 5px solid transparent;
  padding: 0;
  border-radius: 20px;
  font-family: 'BlackMyth';
  font-size: 45px;
  width: auto;
  height: auto;
  left: 510px;
  bottom: 10px;
  transition: all 0.5s ease-in-out;
}

.choiceBtn1:hover{
  border: 5px solid rgb(0, 0, 0, 0.9);
}