/* Phone */
@media screen and (orientation: portrait) and (max-width: 767px) {
    :root{
        --MainTitle1FontSize: 70px;
        --MainTitle2FontSize: 40px;
    }


    .juanzhouDiv{
        display: grid;
        margin: 50% auto;
    }

    .container {
        width: auto;
        font-size: 60px;
        padding: 30px;
    }

    .LeftBtn{
        display: none;
    }

    .gobackBtnDiv{
        scale: 0.7;
    }

}

@media screen and (orientation: landscape) and (max-width: 767px){

    .gobackBtnDiv{
        scale: 0.5  ;
    }
    
}

/* iPad Pro */
@media screen and (width:1366px) and (height:1024px){
    :root{
        --MainTitle1FontSize: 150px;
        --MainTitle2FontSize: 55px;
    }

    .container {
        width: auto;
        font-size: 55px;
        padding: 60px;
    }

    .LeftBtn{
        display: none;
    }

    .gobackBtnDiv{
        position: fixed;
        top: 360px;
    }
}

/* xiaomi pad 6 pro */
@media screen and (min-width: 1116px) and (max-width: 1365px) {
    :root{
        --MainTitle1FontSize: 150px;
        --MainTitle2FontSize: 55px;
    }

    .move-and-shrink {
        scale: 0.5;
        left: 0%;
        translate: 0 0;
        transform-origin: left top;
    }

    .container {
        width: auto;
        font-size: 50px;
        padding: 10px;
    }

    .LeftBtn{
        display: none;
    }

    .gobackBtnDiv{
        scale: 0.7;
    }
    
}