/* Phone */
@media screen and (orientation: portrait) and (max-width: 767px) {
    :root{
        --MainTitle1FontSize: 13vw;
        --MainTitle2FontSize: 9vw;
    }
    .ScreenDiv{
        position: relative;
        backdrop-filter: blur(10px);
    }
    .MainTitle{
        word-break: keep-all;
        .MainTitle1, .MainTitle{
            word-break: keep-all;
        }
    }
    .juanzhouDiv{
        backdrop-filter: blur(10px);
        display: flex;
        /* margin: 50% auto; */
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        position: absolute;
        bottom: 1vh;
    }
    @keyframes juanzhouBtnDiv_move {
        from {
          top: 150%;
        }
        to {
          top: 0;
        }
    }
    .container {
        width: auto;
        font-size: 60px;
        padding: 30px;
    }

    .LeftBtn{
        display: none;
    }
    .OutSchoolDiv{
        margin: 0.1rem auto;
    }
    .gobackBtn{
        scale: 0.7;
        /* height: 76.58px;
        width: 76.58px; */
    }
    .HiddenTips{
        border-radius: 6vw;
        line-height: 10vw;
        span{
            font-size:6vw;
        }
    }
}

@media screen and (orientation: landscape) and (max-width: 767px){

    .gobackBtnDiv{
        scale: 0.5  ;
    }
    
}

/* iPad Pro */
@media screen and (width:1366px) and (height:1024px){
    :root{
        --MainTitle1FontSize: 150px;
        --MainTitle2FontSize: 55px;
    }

    .container {
        width: auto;
        font-size: 55px;
        padding: 60px;
    }

    .LeftBtn{
        display: none;
    }

    .gobackBtnDiv{
        position: fixed;
        top: 360px;
    }
}

/* xiaomi pad 6 pro */
@media screen and (min-width: 1116px) and (max-width: 1365px) {
    :root{
        --MainTitle1FontSize: 150px;
        --MainTitle2FontSize: 55px;
    }

    .move-and-shrink {
        scale: 0.5;
        left: 0%;
        translate: 0 0;
        transform-origin: left top;
    }

    .container {
        width: auto;
        font-size: 50px;
        padding: 10px;
    }

    .LeftBtn{
        display: none;
    }

    .gobackBtnDiv{
        scale: 0.7;
    }
    
}