.OutSchoolDiv{
    position: relative;
    display: inline-flex;
    border: 5px solid rgba(0, 0, 0, 0.9);
    border-radius: 50px;
    height: 300px;
    width: 300px;
    margin: auto 100px;
    text-align: center;
    line-height: 100%;
    font-family: 'BlackMyth';
    font-size: 60px;
    transition: all 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    span{
        vertical-align: middle;
        line-height: 300px;
    }
    &.selected {
        z-index: 6;
        backdrop-filter: blur(10px);
        position: absolute;
    }
    &.hidden {
        scale: 0.5;
        opacity: 0;
    }
    &:hover{
        transform: scale(0.9);
        background-color: black;
        border: 5px solid skyblue;
        color: white;
    }
}
.HiddenTips{
    position: relative;
    border-radius: 50px;
    border: 5px solid rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 1rem auto;
    max-width: max-content;
    padding: 0 0.5rem;
    font-family: 'BlackMyth';
    font-size: 60px;
    span{
        vertical-align: middle;
    }
}
.HiddenTips_show{
    opacity: 1;
}
.tips-enter-active, .tips-leave-active {
    margin-top: 1rem;
    transition: all 0.5s ease-in-out;
}
.tips-enter-from, .tips-leave-to {
    margin-top:-20vh;
    opacity: 0;
}