.FoodsDivFrame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.25rem 0;
}
.secondFloorFooddiv {
    display: inline-flex;
    position: relative;
    align-items: center;
    text-align: center;
    width: var(--secondFloorFooddivWidth);
    margin: 0.25rem 2.5vw;
    height: var(--secondFloorFooddivHeight);
    position: relative;
    border-radius: 120px;
    border: 5px solid rgba(0, 0, 0, 0.9);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,width 0.5s ease-in-out,font-size 0.5s ease-in-out,scale 0.5s ease-in-out;
    opacity: 1;
    font-family: 'BlackMyth';
    font-size: var(--secondFloorFooddivFontSize);
    /* transform-origin: center bottom; */
}

.secondFloorFooddiv.selected {
    z-index: 1000;
    backdrop-filter: blur(10px);
    scale: 2;
    position: absolute;
    margin-top: 9rem;
}

.secondFloorFooddiv.hidden {
    scale: 0.5;
    opacity: 0;
}